<!DOCTYPE html>
<html>
    <head>
        <title>Magic Mirror UI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css"/>
    </head>
    <body>
        <h1>VK API PROJECT</h1>

        <div class="banner">
          <div class="welcome">
            <span>
              Test text for our awesome project
            </span>
          </div>
            <div id="mask"></div>
        </div>

        <div class="container">
            <h2>About us</h2>
        </div>
  </body>
</html>
